body {
  margin: 0;
  background-color: #121622;
  color: #e0e0e0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  flex-direction: column;
}

@media (max-width: 600px) {
  .App {
    padding: 0.5rem;
  }
}